numpy==1.22.3   # 科学計算(ベクトルや行列演算など)を行うパッケージ
scipy==1.8.0    # 数学・科学・工学のためのオープンソースの数値解析ライブラリ
matplotlib==3.5.2   # グラフ描画のオープンソースライブラリ
ipython==8.3.0  # Pythonの対話型インタプリタを強力に拡張したオープンソースパッケージ
scikit-learn==1.0.2 # オープンソースの機械学習ライブラリ
pandas==1.4.2   # データ分析を効率的に行うためのオープンソースライブラリ
pillow==9.1.0   # オープンソースの画像処理ライブラリ
graphviz==0.20  # 状態遷移図等を描画するオープンソースのラッパーライブラリ